/* src/styles/styles.css */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600&display=swap');

body {
  font-family: 'JetBrains Mono', monospace;
    background-color: black;
    color: snow;
  }
  
  div.centeredCont {
    text-align: center;
  }

  ul.centeredUl {
    display: inline-block;
    text-align: left;
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  
  .flashing-text {
    font-size: 1.5rem;
    animation: blink 1s step-start infinite;
  }

  a {
    color:cornflowerblue
  }
  