/* src/styles/styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Change this to your desired color */
  }
  
  div.centeredCont {
    text-align: center;
  }

  ul.centeredUl {
    display: inline-block;
    text-align: left;
  }
  